@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');giga

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;

    background: rgb(30,30,30);
    color: rgb(210,210,210);
    font-family: 'Montserrat';
    overflow: hidden;
}

.wrapper {
    position: relative;
    height: 100vh;
    width: fit-content;
    text-wrap: nowrap;

    display: flex;
    align-items: center;
}

span {
    position: absolute;
    left: 1vw;
    font-size: 900px;
    user-select: none;
    -webkit-user-select: none;
    transition: 600ms linear transform;
    filter: drop-shadow(0 5rem 2rem black)
}

span.rgb {
    background: repeating-linear-gradient(
        to right, 
        hsl(0, 100%, 50%) 0%, 
        hsl(100, 100%, 50%) .1%, 
        hsl(244, 100%, 50%) .2%, 
        hsl(0, 100%, 50%) .3%
    );
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.absolute-controls {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.absolute-controls > * {
    transition: transform 200ms ease;
}

.absolute-controls input, textarea, button {
    background: rgba(255,255,255,0.3);
    outline: none;
    border: 1px solid rgba(255,255,255,0.4);
    border-radius: .2rem;
    min-height: 2em;
    color: white;
    font-family: inherit;
}

.absolute-controls input {
    font-size: 1.5rem;
    height: .6em;
    width: 1.8em;
    padding-left: .5em;
}

.computer-number-container {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.computer-number-container > .time {
    width: auto;
}

button {
    height: 1.5em;
    font-size: 1.5rem;
    cursor: pointer;
}

.ready:focus, .ready:active {
    background: rgba(255, 255, 255, 0.5);
}

.close {
    width: 2rem;
    height: 2rem;
}

.close > svg {width: 100%; height: 100%; cursor: pointer;}

.adjust-position-container {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 90vw;
    display: grid;
    place-content: center;
    padding: 2.5rem;
}

